* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

a {
  text-decoration: none;
}


.theme-bg-color {
  background: #ffc107 !important;
}

.no-border-radius {
  border-radius: 0px;
}

.simple-tr:not(:last-child) {
  border-bottom: 0px !important;
}

.zero-opacity:before {
  opacity: 0;
}

.list-border {
  &.v-list__group--active, &.v-list {
    border: 1px solid rgba(0,0,0,0.12) !important;
  }

  &:before {
    background: transparent !important;
  }
}

.toolbar-p-0 > .v-toolbar__content {
  padding: 0px;
} 